{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">    
</head>
<body>
    <h1>Welcome to the Employee Management System</h1>
    <p>Django Employee Records</p>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Department</th>
                <th>Designation</th>
                <th>Salary</th>
                <th>Report To</th>
                <th>Active</th>
            </tr>
        </thead>
        <tbody>
            {% for e in employees %}
            <tr>
                <td>{{ e.id }}</td>
                <td>{{ e.full_name }}</td>
                <td>{{ e.email }}</td>
                <td>{{ e.department }}</td>
                <td>{{ e.designation }}</td>
                <td>{{ e.salary }}</td>
                <td>{{ e.report_to }}</td>
                <td>{{ e.is_active}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>    
</body>
</html>
